.vscode/tasks.json
.vscode/settings.json
daily/Forfun.exe
daily/temp.exe
homework/10.29/1.exe
homework/10.29/10.exe
homework/10.29/8.exe
homework/10.29/6.exe
homework/10.29/5.exe
homework/10.29/4.exe
homework/10.29/3.exe
homework/10.29/2.exe
homework/10.29/9.exe
homework/10.29/7.exe
homework/10.22/d5.exe
