.vscode/tasks.json
.vscode/settings.json
# 可执行文件
*.exe
*.out
*.app

# 对象文件
*.o
*.obj

# 库文件
*.dll
*.so
*.dylib

# 编译目录
build/
dist/
daily/factorial.exe
.idea/C.iml
.idea/editor.xml
.idea/modules.xml
.idea/vcs.xml
.idea/.gitignore
